.MuiInputBase-root::before {
  border: 0px !important;
}
.MuiInputBase-root::after {
  border: 0px !important;
}
.MuiFormControl-root {
  margin-left: 2% !important;
}
.input-col {
  margin-left: 6%;
}
.input-col textarea {
  font-size: 20px !important;
  font-weight: 525;
}

.tweetBox .tweet-create-button {
  height: 40px;
  width: 75px;
  border-radius: 20px;
  font-size: medium;
  font-weight: bold;
}

.tweetbox-icons {
  color: var(--TweetColor);
}
